.loja {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 22px !important;
}

.bag {
  margin-bottom: 10px;
}

.artesanatos-bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  row-gap: 50px;
}

.artesanatos {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  row-gap: 20px;
}

.artesanatos-imagem {
  position: relative;
  width: 30%;
}

.artesanatos-imagem span {
  background-color: #fd81b9;
  display: inline-block;
  padding: 6px 16px 6px 8px;
  color: #ffffff;
  font-size: 20px;
  border-radius: 4px 0 0 4px;
  position: absolute;
  top: 8px;
  right: 0;
}

.artesanatos-conteudo ul {
  display: grid;
  gap: 16px;
  padding-top: 10px;
  padding-left: 0;
}

.artesanatos-conteudo ul li {
  display: flex;
  align-items: start;
}

.artesanatos-conteudo img {
  width: 24px;
  margin-right: 12px;
}

.artesanatos-conteudo {
  display: block;
  position: relative;
  width: 60%;
}

.artesanatos-conteudo .seta {
  padding: 10px 22px;
  text-transform: lowercase;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1200px) {
  .artesanatos-bg {
    grid-template-columns: 1fr;
  }

  .artesanatos {
    row-gap: 30px;
  }

  .artesanatos-conteudo h2 {
    font-size: 2rem;
  }
  .artesanatos-conteudo ul {
    font-size: 24px;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .artesanatos-conteudo h2 {
    font-size: 1.8rem;
  }
  .artesanatos-conteudo ul {
    font-size: 16px;
    gap: 5px;
  }
}

@media (max-width: 600px) {
  .artesanatos-conteudo h2 {
    font-size: 1rem;
  }
  .artesanatos-conteudo ul {
    font-size: 12px;
  }
  .artesanatos-imagem span {
    padding: 4px 12px 4px 4px;
    font-size: 16px;
  }
  .artesanatos-conteudo .seta {
    background: none;
    color: #df6499 !important;
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
  }
  .artesanatos-conteudo .seta:hover {
    background: none;
    text-decoration: underline !important;
  }
}
