body {
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.font-1 {
  font-family: 'Righteous', serif;
  font-weight: 400;
  font-style: normal;
}

.color-1,
a,
p {
  color: #593574 !important;
}

.font-2 {
  font-family: 'Comfortaa', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.col-blue {
  color: #6ee0e0;
}

img {
  max-width: 100%;
  height: auto;
  display: block !important;
  border-radius: 4px;
}
