body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  /* background-image: url('/img/bgs/bg-body.webp'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1,
ul,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.header-bg,
.footer-bg {
  background-color: #f8cd4f;
  /* background-color: rgba(248, 205, 79, 0.9); */
}

.font-1 {
  font-family: 'Righteous', serif;
  font-weight: 400;
  font-style: normal;
}

.color-1,
a {
  color: #593574 !important;
}

p,
.color-2 {
  color: #5b3384 !important;
}

.font-2 {
  font-family: 'Comfortaa', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

span {
  color: #6ee0e0;
}
