@import 'header.css';
@import 'global.css';
@import 'footer.css';
@import 'artesanatos-lista.css';
@import 'artesanatos.css';
@import 'componentes.css';

.home-bg,
.titulo-bg {
  /*background: #fdf0c8; */
  background: rgba(253, 240, 200, 0.8);
  padding-top: 20px;
}

.home,
.formulario {
  display: grid;
  /* fr ditribui o espaço que sobra */
  grid-template-columns: 6fr 6fr;
  gap: 0 40px;
}

/*alinhando o texto ao lado da imagem da home para baixo*/
.home-conteudo {
  align-self: end;
  padding-bottom: 80px;
}

.home p,
.formulario p {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
}

.envio-formulario {
  border-radius: 6px;
  background: #ffffff;
  padding: 20px;
  border: 2px solid #f392ba;
  height: min-content;
}
.formulario {
  padding-bottom: 30px;
}

.formulario-conteudo ul {
  padding: 0;
}

@media (max-width: 800px) {
  .home,
  .formulario {
    grid-template-columns: 1fr;
  }
  .home h1,
  .formulario h1 {
    font-size: 24px;
  }
  .home,
  .home-conteudo {
    padding-bottom: 50px;
  }
}
