@import 'global/header.css';
@import 'global/global.css';
@import 'global/footer.css';

.home img,
.formulario-conteudo img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

.home-bg,
.formulario-bg {
  /* background: #fdf0c8; */
  background-color: rgba(253, 240, 200, 0.8);
  /* background: url(/img/bgs/bg-body.png) ; */
  padding-top: 30px;
}

.home,
.formulario {
  display: grid;
  /* fr ditribui o espaço que sobra */
  grid-template-columns: 6fr 6fr;
  gap: 0 40px;
  /*somar os paddings*/
  box-sizing: border-box;
  /*container de 1200px*/
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  /*itens sempre alinhados ao centro independente do tamanho da página*/
  margin-left: auto;
  margin-right: auto;
}

/*alinhando o texto ao lado da imagem da home para baixo*/
.home-conteudo {
  align-self: end;
  padding-bottom: 80px;
}

.home h1,
.formulario h1 {
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 1.125;
}

.home p,
.formulario p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.home .b-rosa,
.formulario .b-rosa {
  display: inline-block;
  padding: 16px 32px;
  background: #f392ba;
  color: #ffffff !important;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
  border-style: none;
}

.home a:hover,
.formulario .b-rosa:hover {
  background: linear-gradient(#fd81b9, #df6499);
}

.contato-formulario {
  padding: 60px;
}

.contato-formulario {
  border-radius: 6px;
  background: #ffffff;
  padding: 20px;
  border: 2px solid #f392ba;
}
.formulario {
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  .home h1,
  .formulario h1 {
    font-size: 30px;
  }

  .home .b-rosa,
  .formulario .b-rosa {
    padding: 12px 16px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .home,
  .formulario {
    grid-template-columns: 1fr;
  }
  .home h1,
  .formulario h1 {
    font-size: 24px;
  }
  .home,
  .home-conteudo {
    padding-bottom: 50px;
  }
}
