.footer {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
  max-width: 1200px !important;
}

.footer-bg .footer-redes a img {
  width: auto;
  height: auto;
}

.footer-bg .container img {
  width: 117px;
  height: 104px;
}

.footer h3 {
  margin-bottom: 28px;
}

.footer ul {
  padding-bottom: 16px;
  padding-left: 0px;
}

.footer li {
  margin-bottom: 10px;
}

.footer-redes ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.footer h3:after {
  content: '';
  display: block;
  max-width: 60%;
  height: 3px;
  background: #e9679b;
  margin-top: 16px;
}

.footer ul li a:hover {
  color: #ffffff !important;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer h3:after {
    display: none;
  }
}
