.footer-bg {
  background-color: #f8cd4f; 
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
  max-width: 1200px !important;
}

.footer-redes img {
  width: auto;
  height: auto;
}
